html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
}

:root {
    --primary-dark: #1A120B;
    --primary-medium: #3C2A21;
    --primary-light: #D5CEA3;
    --primary-lightest: #E5E5CB;
}

main {
    display: flex;
    min-height: 100vh;
    width: 100vw;
}

.left {
    flex: 1;
    background-image: url("../assets/gio-bartlett-Qx2G9XT4Xm0-unsplash\ 1.png");
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
}

.logo {
    display: flex;
    height: 100px;
    align-items: center;
    gap: 5px;
    margin-top: 50px;
    background-color: rgba(217, 217, 217, 50%);
    border-radius: 40px;
}

.logo img {
    width: 70px;
    height: 70px;
}

.right {
    flex: 2;
    display: flex;
    flex-direction: column;
    background-color: var(--primary-lightest);
}

.greeting__text {
    align-self: center;
}

.greeting__text {
    margin-top: 50px;
    margin-left: 50px;;
}

form {
    width: 100%;
    margin-top: 30px;
}
form .form__header {
    padding: 10px 0;
}
form .block {
    background-color: var(--primary-light);
}

.block,
.lower-block {
    padding-left: 50px;
}

.inputs__row {
    display: flex;
    gap: 130px;
    padding-bottom: 20px;
}

.inputs__row label {
    display: flex;
    flex-direction: column;
}

.lower-block {
    margin-top: 30px;
}

.confirm-btn {
    border-style: solid;
    border-color: var(--primary-dark);
    background-color: var(--primary-light);
    border-radius: 8px;
    padding: .8rem 2rem;
    font-size: 1rem;
    margin-bottom: 1rem;
    cursor: pointer;
}

input {
    margin-top: .3rem;
    appearance: none;
    border-style: solid;
    border-width: 1px;
    border-color: grey;
    background-color: var(--primary-lightest);
    height: 20px;
    width: 300px;
}

input:focus {
    border-style: solid;
    border-width: 2px;
    border-color: var(--primary-dark);
    outline: none;
}

input:invalid {
    border-style: solid;
    border-color: red;
    border-width: 2px;
}

h1,
button p {
    color: var(--primary-dark);
}

p a {
    text-decoration: none;
    color: var(--primary-medium);
}

p a:visited {
    color: grey;
}

.confirm-btn:hover {
    background-color: var(--primary-dark);
    color: #E5E5CB;
}